header {

height: 200px;

background-color: gray;

}   

main {

height: 250px;

background: gray;

}

#but {

border-radius: 5px;

border: 0px;

height: 40px;

width: 65px;



}

h2 {

    background-color: #686868;

color: white;


}

aside {

height: 621px;    

background-color: gray;

}

aside section {    

color: white;    

height: 50px;

background-color: gray;


}

li {

color: white


}

#sec2 {

height: 350px;

margin-top: 45px;

background-color: gray;

margin-left: 0px;

}

#sec1 {

height: 350px;

margin-top: 45px;

background-color: gray;

}

footer {

height: 180px;    

}

#pl {

    color: white;

background-color: gray;


}

h3 {

color: white;

text-align: center;

width: 335px;

background-color: black;

}

img {

height: 180px;


}

    footer {

background-color: white;


    }

#l1 {
    font-size: 25px;

color: blue;


}

#l2 {

    font-size: 25px;

color: blue;


}

#l3 {

    font-size: 25px;

color: blue;


}

#l4 {

font-size: 25px;

color: blue;

}


#l5 {
    font-size: 25px;

color: blue;

}