header {

height: 200px;

background-color: gray;

}   

main {

height: 250px;

background: gray;

}

h2 {

color: white;


}

aside {

height: 400px;    

background-color: gray;

}

aside section {

height: 50px;

background-color: black;


}

li {

color: white


}

#sec2 {

height: 350px;

margin-top: 45px;

background-color: gray;

margin-left: 0px;

}

#sec1 {

height: 350px;

margin-top: 45px;

background-color: gray;

}

footer {

height: 180px;    

background-color: blue;

}

#pl {

    color: white;

background-color: gray;


}

h3 {

color: white;

text-align: center;

width: 335px;

background-color: black;

}

img {

height: 180px;


}